<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>Страница о ядерной войне 20231231231231231 года </header>
<h2>{% block container %} {% endblock %}</h2>
<footer>Конец страницы о ядерной войне 23123123123123123 года</footer>
</body>
</html>



